@model SistemaSocial.Models.AyudaSocial

<!DOCTYPE html>
<html lang="es-cl">
<head>
    <title> Añadir Ayuda Social </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0" />
    <link href="~/css/Responsive.css" rel="stylesheet" />
    <link href="~/css/DatosRegistro.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="title text-center"> Entregar Ayuda Social. </div>
        <section class="formulario-registro">
            <form asp-action="CrearAyudaSocial">
                <div class="user-details">
                    <div class="input-box">
                        <label class="control-label"> Seleccione Run o Pasaporte del Usuario a Entregar la Ayuda Social. </label><br />
                        <select asp-for="ClientesID" asp-items="ViewBag.ClientesID"></select>
                        <span asp-validation-for="ClientesID" class="details"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="GrupoFamiliar" class="control-label"></label>
                        <input name="GrupoFamiliar" class="GruposFamiliares" value="@ViewBag.GrupoA" />
                        <span asp-validation-for="GrupoFamiliar" class="details"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="NumInforme" class="control-label"></label>
                        <input type="number" asp-for="NumInforme" value="0" />
                        <span asp-validation-for="NumInforme" class="details"></span>
                        <h6 style="font-size:13.6px" font-family="Arial">
                            El N° de informe por defecto será: 0. El cual podrá ser modificado según corresponda.
                        </h6>
                    </div>
                </div>
                <div class="user-details">
                    <div class="input-box">
                        <label asp-for="TipoPeticionID" class="control-label"></label>
                        <select asp-for="TipoPeticionID" asp-items="ViewBag.TipoPeticionID" required>
                            <option value=""> Seleccione. </option>
                        </select>
                        <span asp-validation-for="TipoPeticionID" class="details"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="FechaElaboracion" class="control-label"></label>
                        <input asp-for="FechaElaboracion" />
                        <span asp-validation-for="FechaElaboracion" class="details"></span>
                    </div>
                    <div class="block-a">
                        <label asp-for="MultiPrestaciones" class="control-label"></label>
                        <select class="form-select" multiple required
                                asp-for="MultiPrestaciones"
                                asp-items="ViewBag.PrestacionesID">
                        </select>
                        <span asp-validation-for="PrestacionesID" class="details"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="CantidadEntregada" class="control-label"></label>
                        <input type="number" asp-for="CantidadEntregada" value="0"
                               min="0" id="gastosID" oninput="validarGASTOS(event)" />
                        <span asp-validation-for="CantidadEntregada" class="details"></span>
                    </div>
                    <div class="input-box">
                        <div class="stock">
                            <div class="form-check-inline">
                                <label asp-for="StockBodega" class="control-label"></label>
                                <input type="checkbox" asp-for="StockBodega" />
                                <span asp-validation-for="StockBodega" class="details"></span>
                            </div>
                        </div>
                    </div>
                    <div class="block-a">
                        <label asp-for="DetalleRequerimiento" class="control-label"></label>
                        <textarea autocomplete="on" rows="2" asp-for="DetalleRequerimiento"> </textarea>
                        <span asp-validation-for="DetalleRequerimiento" class="details"></span>
                    </div>
                </div>
                <div class="boton">
                    <input type="submit" id="Submit" value="Guardar" />
                </div>
            </form>
        </section>
    </div>
</body>
</html>

@section scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script>
        $(document).ready(function () {
            CargarPrestaciones();
            CargarCantidades();
        });

        function CargarPrestaciones() {
            $.ajax({
                type: 'Get',
                url: '../AyudaSocial/LoadPrestaciones',
                dataType: 'Json',
                contentType: 'application/json; charset=uft-8',
                cache: false,
                success: function (e) {
                    $('#cboPrestaciones').empty();
                    $('#cboPrestaciones').append($("<option></option>").val('').html('Seleccione.'));
                    $.each(e, function (i, P) {
                        //console.log(i);
                        //console.log(P);
                        $('#cboPrestaciones').append($("<option></option>").val(P.prestacionesID).html(P.nombre));
                    });
                },
                error: function (ex) {
                    alert("Error al cargar los programas");
                }
            });
        };
        function CargarCantidades() {
            $('#cboPrestaciones').change(function () {
                const PrestacionesID = $(this).val();
                //console.log(PrestacionesID);
                $('#cboCantidad').prop('disabled', false);
                if (!isNaN(PrestacionesID)) {
                    $.ajax({
                        type: 'Get',
                        url: '../AyudaSocial/GetPrestaciones',
                        dataType: 'Json',
                        data: { PrestacionesID: PrestacionesID },
                        contentType: 'application/json; charset=uft-8',
                        cache: false,
                        success: function (e) {
                            $('#cboCantidad').empty();
                            $.each(e, function (i, C) {
                                //console.log(i);
                                //console.log(C);
                                $('#cboCantidad').append($("<option></option>").val(C.prestacionesID).html(C.cantidad));
                            });
                        },
                        error: function (ex) {
                            alert("Error al cargar las cantidades");
                        }
                    });
                }
            });
        };
    </script>
    <script>
        $('option').mousedown(function (e) {
            e.preventDefault();
            $(this).prop('selected', !$(this).prop('selected'));
            return false;
        });
    </script>
    <script>
        function validarGASTOS(event) {
            const input = event.target;
            const valor = input.value.trim();

            if (/^[0-9]\d*$/.test(valor)) {
                input.setCustomValidity('');
            } else {
                input.setCustomValidity('Ingrese únicamente valores enteros. Ejemplo: 0123');
            }
            input.reportValidity();
        }
    </script>
}