
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="es-cl">
<head>
    <title></title>
    <link href="~/css/Home.css" rel="stylesheet" />
</head>
<body class="test" id="particles-js">
    <div id="particles-js">
        <h1>Proyecto de Título.</h1>
    </div>
    <script type="text/javascript" src="~/js/particles.js"></script>
    <script type="text/javascript" src="~/js/app.js"></script>
</body>
</html>