@model SistemaSocial.Models.Situacion

<!DOCTYPE html>
<html lang="es-cl">
<head>
    <title> Añadir Datos Habitacionales </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0" />
    <link href="~/css/Responsive.css" rel="stylesheet" />
    <link href="~/css/DatosRegistro.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="title text-center"> Añadir Situación Actual de Datos Habitacionales. </div>
        <section class="formulario-registro">
            <div>
                <partial name="_DatosEditarPartial(2)" />
            </div>
            <form asp-action="EditarSituacion">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="SituacionID" />
                <div class="user-details">
                    <div class="input-box">
                        <label asp-for="ClientesID" class="control-label"></label>
                        <select asp-for="ClientesID" asp-items="ViewBag.ClientesID"></select>
                        <span asp-validation-for="ClientesID" class="details"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="GrupoFamiliar" class="control-label"></label>
                        <input asp-for="GrupoFamiliar" type="number" />
                        <span asp-validation-for="GrupoFamiliar" class="details"></span>
                        <h6 style="text-align:left; font-size: 13.5px;" font-family="Arial">
                            Para poder cambiar el vínculo de un grupo a otro, ingrese el número del grupo al cual será vinculado
                            (Este se visualiza al ingresar al apartado de grupos del Usuario)
                        </h6>
                    </div>
                    <div class="block">
                        <label asp-for="SituacionActual" class="control-label"></label>
                        <textarea rows="5" asp-for="SituacionActual"> </textarea>
                        <span asp-validation-for="SituacionActual" class="details"></span>
                    </div>
                </div>
                <div class="boton">
                    <input type="submit" value="Guardar" />
                </div>
                <div class="volver" style="margin-top:20px;">
                    <a asp-controller="Clientes"
                       asp-action="IndexGrupoFamiliar">
                        Volver al Listado.
                    </a>
                </div>
            </form>
        </section>
    </div>
</body>
</html>