@model SistemaSocial.Models.InformeSocial

<!DOCTYPE html>
<html lang="es-cl">
<head>
    <title> Modificar Informe Social General </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0" />
    <link href="~/css/Responsive.css" rel="stylesheet" />
    <link href="~/css/DatosRegistro.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="title text-center">
            Modificar Informe Social de: <br />
            @Html.ViewData.Model.Clientes.Nombres 
            @Html.ViewData.Model.Clientes.ApellidoPaterno 
            @Html.ViewData.Model.Clientes.ApellidoMaterno
        </div>
        <section class="formulario-registro">
            <form asp-action="EditarInformeSocial">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="InformeSocialID" />
                <div class="user-details">
                    <div class="input-box">
                        <label asp-for="ClientesID" class="control-label"></label>
                        <select class="rutEdit"
                                asp-for="ClientesID" asp-items="ViewBag.ClientesID"
                                readonly onmousedown="return false;">
                        </select>
                        <span asp-validation-for="ClientesID" class="details"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="GrupoFamiliar" class="control-label"></label>
                        <input asp-for="GrupoFamiliar" type="number" />
                        <span asp-validation-for="GrupoFamiliar" class="details"></span>
                        <h6 style="text-align:left; font-size: 13.5px;" font-family="Arial">
                            Para poder cambiar el vínculo de un grupo a otro, ingrese el número del grupo al cual será vinculado
                            (Este se visualiza al ingresar al apartado de grupos del Usuario)
                        </h6>
                    </div>

                    <div class="input-box">
                        <label asp-for="NumInforme" class="control-label"></label>
                        <input type="number" asp-for="NumInforme" />
                        <span asp-validation-for="NumInforme" class="details"></span>
                        <h6 style="font-size:13px" font-family="Arial">
                            El N° de informe por defecto será: 0. El cual podrá ser modificado según corresponda.
                        </h6>
                    </div>
                    <div class="input-box">
                        <label asp-for="FechaElaboracion" class="control-label"></label>
                        <input type="date" asp-for="FechaElaboracion" />
                        <span asp-validation-for="FechaElaboracion" class="details"></span>
                    </div>
                    <div class="block">
                        <label asp-for="Sintesis" class="control-label"></label>
                        <textarea rows="5" asp-for="Sintesis"> </textarea>
                        <span asp-validation-for="Sintesis" class="details"></span>
                    </div>
                </div>
                <div class="boton">
                    <input type="submit" value="Guardar Cambios" />
                </div>
                <div class="volver" style="margin-top:20px;">
                    <a asp-action="IndexInformeSocial">
                        Volver al Listado.
                    </a>
                </div>
            </form>
        </section>
    </div>
</body>
</html>
