@model SistemaSocial.Models.MedioAyuda

<!DOCTYPE html>
<html lang="es-cl">
<head>
    <title> Medio de Hacer Efectiva la Ayuda Social </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0" />
    <link href="~/css/Responsive.css" rel="stylesheet" />
    <link href="~/css/DatosRegistro.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="title text-center">
            Modificar Medio de Hacer Efectiva la Ayuda Social de: <br />
            @*@Html.ViewData.Model.Clientes.Nombres
            @Html.ViewData.Model.Clientes.ApellidoPaterno
            @Html.ViewData.Model.Clientes.ApellidoMaterno*@
        </div>
        <section class="formulario-registro">
            <div>
                <partial name="_DatosEditarPartial(3)" />
            </div>
            <form asp-action="EditarMedioAyuda">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="MedioID" />
                <div class="user-details">
                    <div class="input-box">
                        <label asp-for="ClientesID" class="control-label"></label>
                        <select class="rutEdit"
                                asp-for="ClientesID" asp-items="ViewBag.ClientesID"
                                readonly onmousedown="return false;">
                        </select>
                        <span asp-validation-for="ClientesID" class="details"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="GrupoFamiliar" class="control-label"></label>
                        <input asp-for="GrupoFamiliar" type="number" />
                        <span asp-validation-for="GrupoFamiliar" class="details"></span>
                        <h6 style="text-align:left; font-size: 13.5px;" font-family="Arial">
                            Para poder cambiar el vínculo de un grupo a otro, ingrese el número del grupo al cual será vinculado
                            (Este se visualiza al ingresar al apartado de grupos del Usuario)
                        </h6>
                    </div>
                    <div class="input-box">
                        <h6 style="font-size:16px;" font-family="Arial">
                            La Ayuda solicitada puede hacerse efectiva a través de:
                        </h6>
                        <input type="text" asp-for="Orden" />
                        <span asp-validation-for="Orden" class="details"></span>
                    </div>
                    <div class="input-box"></div>
                    <div class="input-box">
                        <h6 style="font-size:16px;" font-family="Arial">
                            Por un Monto de:
                        </h6>
                        <input type="number" asp-for="Monto"
                               min="0" step="1" oninput="validarGASTOS(event)" />
                        <span asp-validation-for="Monto" class="details"></span>
                    </div>
                    <div class="block">
                        <h6 style="font-size:16px;" font-family="Arial">
                            Emitido a nombre de:
                        </h6>
                        <textarea rows="4" asp-for="Descripcion"> </textarea>
                        <span asp-validation-for="Descripcion" class="details"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="NumMedio" class="control-label"></label>
                        <input type="text" asp-for="NumMedio" readonly onmousedown="return false;" />
                        <span asp-validation-for="NumMedio" class="details"></span>
                    </div>
                </div>

                <div class="boton">
                    <input type="submit" value="Guardar Cambios" />
                </div>
                <div class="volver" style="margin-top:20px;">
                    <a asp-controller="Clientes"
                       asp-action="IndexClientes">
                        Volver al Listado.
                    </a>
                </div>
            </form>
        </section>
    </div>
</body>
</html>

@section scripts{
    <script>
        function validarGASTOS(event) {
            const input = event.target;
            const valor = input.value.trim();

            if (/^[0-9]\d*$/.test(valor)) {
                input.setCustomValidity('');
            } else {
                input.setCustomValidity('Ingrese únicamente valores enteros. Ejemplo: 0123');
            }
            input.reportValidity();
        }
    </script>
}