@model SistemaSocial.Models.TipoSubsidio

<!DOCTYPE html>
<html lang="es-cl">
<head>
    <title> Eliminar Subsidio </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0" />
    <link href="~/css/Responsive.css" rel="stylesheet" />
    <link href="~/css/DatosRegistro.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="title text-center">
            Eliminar Subsidio:
            @Html.ViewData.Model.Nombre
        </div>
        <section class="formulario-registro">
            <form asp-action="EliminarPension" readonly onmousedown="return false;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="TipoSubsidioID" />
                <div class="user-details">
                    <div class="input-box">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input type="text" asp-for="Nombre" />
                        <span asp-validation-for="Nombre" class="details"></span>
                    </div>
                </div>
                <div class="boton">
                    <input type="submit" value="Eliminar Subsidio" />
                </div>
                <div class="volver" style="margin-top:20px;">
                    <a asp-action="IndexPension_Y_Subsidio">
                        Volver al Listado.
                    </a>
                </div>
            </form>
        </section>
    </div>
</body>
</html>