<div class="controlador-btn" style="border:1px">
    <!-- CLIENTES -->
    <a class="Clientes"
       asp-action="IndexClientes"
       asp-controller="Clientes"> 
        Datos de Usuarios Registrados
    </a>

    <!-- INFORME SOCIAL GENERAL -->
    <a class="InformeSocialGeneral"
       asp-action="IndexInformeSocial"
       asp-controller="InformeSocial"> 
        Informes Sociales Entregados 
    </a>
</div>
