<div class="controlador-btn-index1" style="border:1px;">
    <!-- CLIENTES -->
    <a class="Clientes" asp-action="CrearClientes" asp-controller="Clientes"> 1.- Añadir Datos de Usuarios </a>

    <!-- SALUD -->
    <a class="Salud" asp-action="CrearSalud" asp-controller="Salud"> 2.- Añadir Datos de Salud </a>

    <!-- SOCIOECONOMICOS -->
    <a class="Socioeconomico" asp-action="CrearSocioeconomico" asp-controller="Socioeconomico"> 3.- Añadir Datos Socioeconómicos </a>

    <!-- HABITACIONAL -->
    <a class="Habitacional" asp-action="CrearHabitacionales" asp-controller="Habitacionales"> 4.- Añadir Datos Habitacionales </a>

    <!-- HABITACIONAL -->
    <a class="SituacionActual" asp-action="CrearSituacionActual" asp-controller="Habitacionales"> 5.- Añadir Situación Actual </a>

    <!-- GASTOS FAMILIARES -->
    <a class="GastosFamiliares" asp-action="CrearGastosFamiliares" asp-controller="GastosFamiliares"> 6.- Añadir Gastos Familiares </a>

    <!-- AYUDA SOCIAL -->
    <a class="AyudaSocial" asp-action="CrearAyudaSocial" asp-controller="AyudaSocial"> 7.- Entregar Ayuda Social </a>

    <!-- MEDIO AYUDA -->
    <a class="MedioAyuda" asp-action="CrearMedioAyuda" asp-controller="MedioAyuda"> 8.- Añadir Medio de Hacer Efectiva la Ayuda </a>

    <!-- ASIGNACION DE CUENTAS -->
    <a class="Asignacion" asp-action="CrearAsignacion" asp-controller="AsignacionDeCuentas"> 9.- Añadir Asignación de Cuentas </a>

    <!-- INFORME SOCIAL GENERAL -->
    <a class="InformeSocialGeneral" asp-action="CrearInformeSocial" asp-controller="InformeSocial"> 10.- Añadir Informe Social </a>
</div>